.nav-transform{
    position: fixed !important;
    left: 0 !important;
    background-color: #FFF !important;
    text-align: center !important;
    overflow: auto !important;
    transform: translateX(-100%) !important;
    -webkit-transform: translateX(-100%) !important;
    -ms-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
    -webkit-transition: -webkit-transform 0.6s ease !important;
    transition: transform 0.6s ease !important;
}
.nav-transform.open {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    transform: translateX(0) !important;
}
